RewriteEngine On

# Block access to the subdomain
RewriteCond %{HTTP_HOST} ^order\.themomostation\.ca$
RewriteRule ^ - [F,L]

# Redirect all www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]

# Redirect all HTTP traffic to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect requests for /index.html to the root
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.html\ HTTP/
RewriteRule ^index\.html$ / [R=301,L]

# Set noindex header for /menu and /menu.html
<IfModule mod_headers.c>
    Header set X-Robots-Tag "noindex, follow" "expr=%{REQUEST_URI} =~ m#^/menu(\.html)?$#"
    Header set X-Robots-Tag "noindex, follow" env=NOINDEX
</IfModule>

# Redirect requests for /menu or /menu.html to /markham.html
RewriteRule ^menu(\.html)?$ /markham.html [L,R=301]

# Redirect /markham to /markham.html and set noindex header
RewriteRule ^markham$ /markham.html [R=301,L,E=NOINDEX:1]

# Redirect /danforth to /danforth.html and set noindex header
RewriteRule ^danforth$ /danforth.html [R=301,L,E=NOINDEX:1]

# Redirect /contact to /contact.html and set noindex header
RewriteRule ^contact$ /contact.html [L,E=NOINDEX:1]

# Remove index.php if present
RewriteCond %{THE_REQUEST} ^.*index\.php
RewriteRule ^(.*)index\.php$ /$1 [R=301,L]

# Handle trailing slashes
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Redirect all invalid routes to homepage if file or directory does not exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ / [L,R=302]